<span ng-show="error_has_occured" style="color:#FF0000">Whoops. There is a problem :( <br><br> In case you feel like being really helpfull... Please close the extension, right-click it, hit Inspect Popup (gotta be in chrome://extensions -> dev mode), and then paste the error logs you get in the console that shows up and mail it to jo.plaete@gmail.com. I OWE YOU A BEER NOW :)</span>



<header class="panel-heading bg-primary lter no-borders" ng-show="user_initialized">
  <div class="clearfix">
    <span class="pull-left thumb avatar border m-r">
      <img ng-src="{{me_avatar}}" class="img-circle">
    </span>
    <div class="clear">
      <div class="h3 m-t-xs m-b-xs">{{me_name}} 
      <!-- <i class="fa fa-circle text-success text-xs m-t-sm"></i> -->
      </div>
      <small style="color:#f3f5f9" class="text-muted">{{me}}</small>
    </div>        
    <!-- <div>
       <img ng-src="img/icon.png" class="img-circle pull-right">
    </div>   -->      
  </div>
</header>


<div ng-hide="user_initialized">
  <br><br><br>
  <center>
    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    <h3 ng-show="sign_in_please">
      <a class="btn btn-primary btn-lg" ng-click="sign_in_to_chrome()">
        Sign in to Google Chrome to continue!
      </a>
    </h3>
  </center>
</div>

<tabset type="tabs" ng-show="user_initialized">
    <tab>
    <tab-heading>
        <i class="fa fa-send fa-fw"></i> MESH
    </tab-heading>
      

<!-- <span class="pull-left" style="color:#dfdede; margin:4px;">jo.plaete@gmail.com
</span> -->


<div class="container" ng-hide="share_complete_hide" style="background-color:#FFFFFF">

<form class="form-horizontal" role="form" style="padding:20px">

<!--   <div class="row">
      <div class="form-group form-group-lg">
        <label for="link" class="col-sm-2 control-label">Link</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-sm" id="link" placeholder="http://" ng-model="url" ng-blur="analyse()" ng-change="analyse()">
        </div>
      </div>
  </div> -->

  <!-- <div class="row pull-right">
  <h2>{{me_name}}
    <img src="{{me_avatar}}" class="circle">
  </h2>

  </div> -->

  <div class="row" ng-hide="url_title_show">
    <blockquote>
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </blockquote>
      <br><br><br>
  </div>



  <div class="row" ng-show="url_title_show">
        <!-- <label for="inputTitle" class="col-sm-2 control-label">Title</label> -->
        <!-- <div class="col-sm-10 pull-left"> -->
          <!-- <input type="title" class="form-control input-sm" id="inputTitle" placeholder="" ng-model="url_title"> -->

          <img ng-src="{{url_image}}" alt="{{url_title}}" class="square pull-left" ng-show="url_image_show">

          <blockquote>
            <p>{{url_title}}</p>
            <footer ng-show="url_description_show">{{url_description}}</footer>
          </blockquote>
        <!-- </div> -->
  </div> 

  <!-- <div class="row">
      <div class="form-group form-group-sm">
        <label for="inputEmail" class="col-sm-2 control-label">My Email
        </label>
        <div class="col-sm-10 input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input type="email" class="form-control input-sm" id="inputEmail" placeholder="your@email.com" ng-model="me" ng-blur="suggest()" disabled>
        </div>
      </div>
  </div> -->

  <div class="row">
      <div class="form-group form-group-sm">
        <label for="shareWith" class="col-sm-2 control-label">Share with</label>
         <div class="col-sm-10" ng-show="showRecent()">
          <small>
            Recent: 
            <span ng-repeat="email in most_recent">
              <a href="" ng-click="addRecent(email)">
                <i class="fa fa-plus-square fa-fw"></i>{{email}}
              </a>
            </span>
          </small>
        </div>
        <div class="col-sm-10" ng-show="showBest()">
          <small>
            Friends: 
            <span ng-repeat="email in best_friends">
              <a href="" ng-click="addBest(email)">
                <i class="fa fa-plus-square fa-fw"></i>{{email}}
              </a>
            </span>
          </small>
        </div>
        <div class="col-sm-10 input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-group fa-fw"></i></span>
          <tags-input id="share_with_input" ng-model="share_with" add-on-space="true" add-on-comma="true" placeholder="Find friends" enableEditingLastTag="true" min-length="1" enable-editing-last-tag="true" autofocus>
             <auto-complete source="loadEmails($query)" max-results-to-show="8" min-length="1"></auto-complete>
          </tags-input>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="form-group form-group-sm">
        <label for="inputMessage" class="col-sm-2 control-label">Add message</label>
        <div class="col-sm-10 input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
          <input type="text" class="form-control" id="inputMessage" placeholder="Awesome link because..." ng-model="message" ng-keypress="message_field_keypress($event)">
        </div>
      </div>
  </div>

  <!-- <div class="row">
      <div class="form-group">
        <label for="inputTags" class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
          <tags-input ng-model="tags" id="inputTags" placeholder="Add Tag"></tags-input>
        </div>
      </div>
  </div> -->


<!--   <div class="col-xs-4 pull-right">
  <span ng-show="share_error" style="color:#FF0000">Oops.. Share Failed:( Please try again later.
  </span>

    <a ng-click="save()" class="btn btn-block btn-lg btn-primary pull-right" ng-disabled="not_ready_to_share()">
      <span ng-hide="share_in_progress">
      MESH <i class="fa fa-send fa-fw" ng-hide="not_ready_to_share()"></i>
      </span>
      <i ng-show="share_in_progress" class="fa fa-circle-o-notch fa-spin"></i>
    </a>

  </div> -->

</form>


  <a class="btn btn-primary btn-lg btn-block" ng-click="save()" ng-disabled="not_ready_to_share()">
    <i class="fa fa-send fa-fw pull-right" ng-hide="not_ready_to_share()"></i> 
    <i ng-show="share_in_progress" class="fa fa-circle-o-notch fa-spin pull-right"></i>
    SEND
  </a>




</div> <!-- /container -->

<div class="container" ng-show="share_complete_hide" style="background-color:#FFFFFF">
  <br><br>
  <center>
    <!-- <h1 class="center">WOOHOO!</h1> -->
    <img src="http://community.spartangames.co.uk/uploads/gallery/album_853/gallery_3406_853_429.jpeg">
    <br>
    <h2 class="center"><strong>SUCCESSFULLY MESHED</strong></h2>
  </center>
</div>

  </tab>

  <tab class="pull-right">
    <tab-heading>
        <i class="fa fa-bars fa-fw"></i> MY BOARD 
    </tab-heading>

    <div style="padding:15px">

      <div class="col-sm-10" style="padding-bottom:20px;">
          <input type="text" class="form-control rounded" placeholder="Search" ng-model="link_filter">                        
      </div>

    <section class="comment-list block">
    <!-- <section class="panel-body slim-scroll" data-height="230px"> -->

    

      <article id="comment-id-1" class="comment-item" ng-repeat="link in links | filter:link_filter">
        <a class="pull-left thumb-sm avatar">
          <img ng-src="{{me_avatar}}" class="img-circle">
        </a>
        <span class="arrow left"></span>
        <section class="comment-body panel">
          <header class="panel-heading">
          <span class="text-muted m-l-sm pull-right">
              <i class="fa fa-clock-o"></i>
              {{link.creation_time.pretty}}
            </span>
          <a href="#" ng-click="open_link(link)">
            <strong>
            <div ng-show="link.title">{{link.title}}</div>
            <span ng-hide="link.title">{{link.url}}</span>
            </strong>
          </a>
            <!-- <label class="label bg-info m-l-xs">Editor</label>  -->
            <!-- <i class="fa fa-external-link fa"></i> -->
          </header>
          <a href="#" ng-click="open_link(link)">
          <div class="panel-body" ng-show="link.description">
            <!-- <h5>
              <span ng-show="link.title">{{link.title}}</span>
              <span ng-hide="link.title">{{link.url}}</span>
            </h5> -->
            <p>
              {{link.description}}
            </p>
            <blockquote>
            <footer class="block">{{link.message}}</footer>
          </blockquote>
            
            <!-- <div class="comment-action m-t-sm">
              <a href="#" data-toggle="class" class="btn btn-white btn-xs active">
                <i class="fa fa-star-o text-muted text"></i>
                <i class="fa fa-star text-danger text-active"></i>
                Like
              </a>
              <a href="#comment-form" class="btn btn-white btn-xs">
                <i class="fa fa-mail-reply text-muted"></i> Reply
              </a>
            </div> -->
          </div>
          </a>
        </section>
      </article>
    </section>
    </div>

  </tab>

  <tab class="pull-right">
    <tab-heading>
        <i class="fa fa-info fa-fw"></i>
    </tab-heading>
      <center>
         <br />
         <img src="http://cdn.cutestpaw.com/wp-content/uploads/2012/08/l-Sharing-is-caring.jpg" class="img-circle">
         <br />
                 <h3>sharing is caring ~ <strong>KEEP SHARING</strong></h3>

        <!-- <h1><strong>KEEP SHARING</strong></h1> -->
      </center>
  
  </tab>




</tabset>






